@charset "UTF-8";

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-It.otf');
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Semibold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-SemiboldIt.otf');
  font-weight: bold;
  font-style: italic;
}

// Animations
.animated {
  -webkit-animation-duration: .85s;
  animation-duration: .85s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

// Basic

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: Avenir Next, Source Sans Pro, Helvetica Neue, Arial;
  background: #1d1d1d;
  color: #f9f9f9;
  max-height: 100%;
}
.content {
  margin: 0 auto;
  text-align: left;
  width: 50%;
  margin-top: 50px;
}
.content h1 {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-bottom: 40px;
  font-weight: 600;
  color: #70bee0;
}

// Div styling
#currentTime {
  font-weight: 100;
  font-size: 20px;
}
#currentDate {
  font-weight: 100;
  font-size: 1.7rem;
  margin-bottom: 20px;
}
#currentDate  span {
  font-weight: 400;
}
.quote {
  margin: 0;
  margin-top: 30px;
}
.quote p {
  margin: 0;
}
.quote p:first-child {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 100;
  line-height: 1.8rem;
}
.quote p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 400;
  opacity: .5;
}
.dynamicText {
  font-size: 2rem;
  font-weight: 100;
}
.dynamicText span {
  font-weight: 400;
  color: #70bee0;
}
@media screen and (max-width: 1000px) {
  .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .content h1 {
    font-size: 6em;
  }
  #currentDate {
    font-size: 1.5em;
  }
  #currentTime {
    font-size: 3em !important;
  }
  .dynamicText {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .content {
    margin-bottom: 50px;
  }
  .dynamicText {
    font-size: 1.6rem;
  }
}
